.heading-big {
	font-size: 6rem;
}

.padding-twoside-large {
	padding: 0 15rem;
}

.margin-bottom-extra-large {
	margin-bottom: 10rem;
}

.margin-bottom-large {
	margin-bottom: 8rem;
}

.margin-bottom-big {
	margin-bottom: 6rem;
}

.margin-bottom-medium {
	margin-bottom: 4rem;
}

.margin-bottom-small {
	margin-bottom: 3rem;
}
