.advantage {
	&__heading {
		font-size: 2.4rem;
		font-family: "Muli", sans-serif;
		font-weight: bold;
		text-align: center;
	}

	&-item {
		&__heading {
			font-size: 2rem;
			color: $blue-dark;
			font-weight: bold;
		}

		&__image {
			border: 1px solid #000;
			border-radius: 50%;

			img {
				padding: 2rem;
			}
		}

		&__description {
			font-size: 1.6rem;
		}
	}
}
