.ux1-description-container {
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 50vh;
  background-color: #fff;
  clip-path: polygon(
    0% 15%,
    0 0,
    15% 0%,
    85% 0%,
    85% 10%,
    100% 10%,
    85% 28%,
    85% 85%,
    85% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );
}

.ux1-description {
  padding-right: 8rem;
}

.ux1-play-btn {
  border-radius: unset;
  border-top-right-radius: 7.38px;
  border-bottom-right-radius: 7.38px;

  p {
    margin: 0;
  }
}
