/* html,
body {
  height: 100%;
  margin: 0;
}

#app {
  position: relative;
  min-height: 100vh;
}

.page-main {
  padding-bottom: 2.5rem;
} */

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} */
body{
  height: 100vh;
}
.footer-primary-color {
  color: #a0feea;
}

.fixed {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.partner {
  border-top: 3px solid #f9f5f5;
  padding-top: 5rem;
}

.border--top {
  border-top: 3px solid #f9f5f5;
}

.bg-second-cl {
  background-color: #ecf8f8;
}

.giai-phap-cl {
  color: #06658d;
}

.topbar{
  position: fixed;
  height:40px;
  left:0;
  top:0;
  width:100%;
  text-align:center;
  font-size:22px;
  transition:top .3s;
  z-index: 2;
}

.hide{
  top:-40px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.girl-absolute {
  position: absolute;
  bottom: -195px;
}

.isActive {
  color: #a0feea !important;
}

@media (max-width: 43.125em){
  .girl-absolute {
    display: none;
  }
  .homepage-solution__placeholder {
    display: none !important;
  }
}

.nav__toggle-btn p {
  font-size: 12px;
}
/* header */
.langg{
  margin-left: 130px;
}
@media only screen and (max-width: 1100px){
  .langg{
    margin-left: 6.5em;
  }
}
@media only screen and (max-width: 1020px){
  .langg{
    margin-left: 4.5em;
  }
}
@media only screen and (max-width: 970px){
  .langg{
    margin-left: 2.5em;
  }
}
.ant-dropdown{
  margin-top: 50px !important;
}
.laQPAI{
  margin-top: 40px;
  font-size: 60px;

}
.kENaIm{
  font-size: 14px !important;
  
}
.home-carousel__description{
  margin-top: 3rem;
}
.carousel-indicators{
  display: none;
}
@media only screen and (max-width: 1200px){
  .laQPAI{
    margin-top: 20px;
    
  
  }
  .home-carousel__description{
    margin-top: 30px;
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 930px){
  .laQPAI{
    margin-top: 60px;
    font-size: 40px;
    text-align: center;
  }
  .kENaIm{
    font-size: 14px !important;
    text-align: center;
  }
  .home-carousel__description{

   /* display: none !important; */
  }
}
@media only screen and (max-width: 570px){
  .laQPAI{
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    
  
  }
  .uMiQG{
    text-align: center;
    font-size: 14px !important;
    
  }
  .home-carousel__description{
    /* display: none !important; */
    /* margin-top: 30px;
    font-size: 15px !important; */
  }
}
.nav__icon{
  color: #FFF;
  font-weight: bold;
}
/* click */
.nav-small {
  background-color: #FFF;
  color: #000;
}
/* mcare -mobile*/
@media only screen and (min-width: 76em){
  .margin-left-small{
    margin-left: 3rem !important;


}
  .homepage-solution__image{
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 75em){
  .margin-bottom-small{
    display: flex;
    flex-direction: column;
   }
   .margin-left-small{
     margin-left: 0 !important;
   }
   .btn--blue{
     margin: 10px auto;
     width: 90%;
   }
   .homepage-solution__btn-group{
     text-align: center;
   }
   
   .btn--red{
    margin: 10px auto !important;
    width: 90%;
  }
  .btn--green{
    margin: 10px auto !important;
    width: 90%;

  }
  .btn--yellow{
    margin: 10px auto !important;
    width: 90%;
  }

  .btn p {
    text-align: center;
  }
}
/* solution-mobile */
.solution-main{
  min-height: 300px;
}
.solution-container{
  padding: 4rem 0;
  width: 90%;
  margin: 0 auto;
}
.solution-title{
  position: relative;
  padding: 0 2rem;
}

@media only screen and (max-width: 1400px){
.margin-bottom-extra-large{
  margin-bottom: 10px !important;
}
.heading-big{
  font-size: 24px !important;
}
}
.solution-title::before{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color:  #5cc2a6;
  content: '';
}
.homepage-solution__image_mobile{
  display: none;

  
}
@media only screen and (max-width: 1105px){
  .homepage-solution-even{
    background-color: #06658d;
  }
  .solution-container{
    justify-content: start;
    height: 300px;
  }
  .girl-absolute{
    display: none;
  }
  .homepage-solution__image{
    display: none;
  }
  .homepage-solution__image_mobile{
    display: block;
    width: 100%;
    height: 90%;
    
    border: 1px solid #06658d;
  }
  .homepage-solution__description {
    margin-top: 200px;
  }
  .homepage-solution__btn-group{
    text-align: center;
  }
}
@media only screen and (max-width: 320px){
  .heading-big{
    font-size: 20px !important;
  }
  .homepage-solution__description {
    margin-top: 50px;
  }
}
/* solution2 */
.homepage-solution__image{
  width: 100%;
}
.solution2-image{
  width: 150%;
}
.homepage-solution__image-mobile{
  display: none;
}
@media only screen and (max-width: 765px){
  .homepage-solution__image-mobile{
    display: block;
  }
  .homepage-solution__image-mobile{
    width: 100%;
  }
  .homepage-solution2__description {
    margin-top:10px;
  }
  .solution2-image{
    display: none;
  }
  .giai-phap-cl{
    margin-top: 30px !important;
  }

  .flex-row {
    flex-direction: row !important;
  }

  .align-items-start {
    align-items: flex-start !important;
  }

  .margin-left-2 {
    margin-left: 2rem;
  }

  .margin-left-2 p {
    text-align: left !important;
    padding: 0 !important;
  }

  .d-block-mobile {
    display: block !important;
    margin-bottom: 2rem;
  }

  .max-width-mobile {
    width: 100% !important;
  }
}

@media only screen and (min-width: 900px){
  .technique-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 16px;
  }
  .flex-row-reverse {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 899px){
  .technique-grid {
    display: flex;
    flex-direction: column;
  }

  .technique-item p{
    text-align: right;
    margin: 0 !important;
  }

  .technique-item img {
    margin: 0;
  }

  .flex-row-reverse {
    flex-direction: row-reverse !important;
  }

}