/* html,
body {
  height: 100%;
  margin: 0;
}

#app {
  position: relative;
  min-height: 100vh;
}

.page-main {
  padding-bottom: 2.5rem;
} */

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} */

.footer-primary-color {
  color: #a0feea;
}

.fixed {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.partner {
  border-top: 3px solid #f9f5f5;
  padding-top: 5rem;
}

.border--top {
  border-top: 3px solid #f9f5f5;
}

.bg-second-cl {
  background-color: #ecf8f8;
}

.giai-phap-cl {
  color: #06658d;
}

.topbar{
  position: fixed;
  height:40px;
  left:0;
  top:0;
  width:100%;
  text-align:center;
  font-size:22px;
  transition:top .3s;
  z-index: 2;
}

.hide{
  background-color: #fff;
  top:-40px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}